.footer {
  padding: 60px 0;

  background-color: $footer-background-color;
}

.container--footer {
  display: flex;
}

.address,
.join,
.mailing {
  display: flex;
  min-width: 300px;

  outline: 2px solid salmon;
}
